/* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*=== HELPING COLORS OF BOXES ===*/

.profile-card {
  background-color: hsla(60, 100%, 50%, .4)
}

.content {
 background-color: hsla(273, 100%, 25%, .4)
}

.links {
  background-color: hsla(120, 100%, 25%, .4);
}

/* ==== BASE STYLES ==== */

* {
    box-sizing: border-box;
    padding: 10%;
    margin: 0 auto;
}

body {
  font-family: 'Merriweather', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(3, 3, 3);
  text-align: center;
  padding: 0.3125rem;
  background: url(assets/salmon_antracit.jpg) no-repeat center center fixed;
  background-size: cover;
  height: calc(100vh - 10%);
  width: 100vw;
  position: relative;
}



/* ==== Layout Styles ==== */

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr,
img,
.links, .content, .profile-card {
    margin-bottom: 1rem;
}

.profile-card {
    height: auto;
	  width: 70%;
  	max-width: calc(100vw - 30%);
  	margin: 0 auto;
	  padding: 0.525rem;
    background-color: rgba(255, 255, 255, 0.432);
    border-radius: 0.925rem;
    box-shadow: rgba(0, 0, 0, 0.979) 1.2rem 1.2rem 5rem;
}

.content {
    height: auto;
    width:70%;
    max-width: calc(100vw - 30%);
    margin: 0 auto;
	  padding: 5% 1%;
    background-color: rgba(255, 255, 255, 0.144);
    border-radius: 0.925rem;
    box-shadow: rgba(0, 0, 0, 0.979) 1.2rem 1.2rem 5rem;
    position: relative;
}

.links {
    height: auto;
    width: 70%;
    max-width: calc(100vw - 30%);
    text-align: center;
    margin: 0 auto;
    padding: 2% 2%;
    background-color: rgba(169, 173, 189, 0.74);
    border-radius: 0.925rem;
    box-shadow: rgba(0, 0, 0, 0.979) 1.2rem 1.2rem 5rem;
    position: relative;
    margin-bottom: 1.25rem;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    font-weight: 800;
}

h2 {
  font-family: 'Merriweather', serif;
}

.about {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    padding: 0.3125rem;
}

.head, .about {
  margin-bottom: 10%;
}

.social-icon:link, social-icon:visited {
    color: rgb(16, 122, 192);
    text-align: center;
  }
  
  a:hover, a:active {
    transform: scale(1.5);
      filter: contrast(500%);
  }
  
  .head {
    text-align: center;
  }

  .contact-me {
      padding: 0.625rem;
      font-family: arial;
      font-weight: 700;
      color:rgba(43, 45, 199, .8)
  }

  img {
    width: 7.5rem;
    max-width: 100%;
    height: 7.5rem;
    border:#21299bfa;
    padding: 0.125rem;;
    background-color: #666;
    transition: all 0.9s ease-in-out;
    filter: grayscale(50%);
    border-radius: 0.5rem;
  }
  
  .profile-image {
    margin-top: 3.75rem;
  }



  img:hover {
    transform: scale(1.1);
      filter: opacity(90%)
  }
 
  .name {
    padding:1.25rem;
    font-size: 1.625rem;
    letter-spacing: 0.625rem;
  }
  
  /* Contact links */
  
  ul {
    list-style-type: none;
  }
  
  li {
    display: inline-block;
    letter-spacing: 2rem;
    padding: 0.625rem;
  }

  @media (max-width: 420px) {
    .profile-card, .content, .links {
      margin-bottom: 1.096%;
      float: none;
      width: auto;
    }
  
  }
  
  
  @media (min-width: 768px) {
    .profile-card, .content {
      background-color: rgba(118, 160, 236, 0.37);
      max-width: 1025px;
      width: 66.6%;
      position: relative;
      float: right;
    }
   
    .links {
      width: 33.3%;
      position: absolute;
      float: left;
      top: 0;
      left: 0;
      height: 100%;
    }

    li {
      display: block;
    }
  }
  
  
    @media (min-width: 1025px) {
      .profile-card {
        background-color: rgba(65, 88, 131, 0.37);
              
      }
    }